.optionHeader{
    display: flex;
    align-items: center;
}

.menuContainer{
    margin: 0 0 0 1.5rem;
}

.abrirMenuIcon{
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 0.2s;
}

.abrirMenuIcon:hover{
    background-color: #ccc;
}

.menuHeader{
    display: none;
    position: fixed;
}

.menuHeaderOpen{
    border-radius: 20px 0 0 20px;
    top: 0;
    right: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    z-index: 9;
    transition:0.2s;
    width: 100%;
    max-width: 280px;
    height: 100vh;
    background-color: #000;
}

.menuHeaderOpen li{
    margin: 0.25rem 0;
    padding:0 0.5rem;
    cursor: pointer;
    transition: 0.2s;
}

.menuHeaderOpen li button:hover{
    color: #00ffff;
}

.menuHeaderOpen button{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
    color: #fff;
    text-transform: capitalize;
    cursor: pointer;
    outline: 0;
    transition: 0.2s;
    font-size: 0.85em;
}

.menuHeaderOpen button span{
    margin: 0 0.5rem;
}

.iconsContainer{
    padding: 0.75rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fecharMenuIcon{
    color: #fff;
    transition: 0.2s;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.fecharMenuIcon:hover{
    color: #ff0000;
}

.logoMenuHeader{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    color: #00ffff;
    margin: 0.5rem;
}

.userMenuContainer{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userMenuContainer h2{
    color: #fff;
}

.logoUserMenu{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #005e5e;
    color: #00ffff;
}

.logOutButtonUserMenu{
    width: 20px;
    height: 20px;
    margin: 0.25rem 0;
    color: #ccc;
}

@media screen and (max-width:768px){
    .abrirMenuIcon{
        width: 40px;
        height: 40px;
    }

    .menuHeaderOpen{
        max-width: max-content;
        margin: auto;
        right: 0;
        border-radius: 20px;
    }

}