.optionHeader{
    display: flex;
    align-items: center;
}

.menuContainer{
    margin: 0 0 0 1.5rem;
}

.abrirMenuIcon{
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 0.2s;
}

.abrirMenuIcon:hover{
    background-color: #ccc;
}

.menuHeader{
    display: none;
    position: fixed;
}

.menuHeaderOpen{
    border-radius: 20px 0 0 20px;
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    z-index: 9;
    width: 100%;
    max-width: 20vw;
    height: 100%;
    background-color: #000;
}

.menuHeaderOpen li{
    margin: 0.25rem 0;
    padding:0 0.5rem;
    cursor: pointer;
    transition: 0.2s;
}

.menuHeaderOpen li:hover{
    background-color: #00ffff;
}

.menuHeaderOpen button{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
    color: #fff;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 0.85em;
}

.menuHeaderOpen button span{
    margin: 0 0.5rem;
}

.iconsContainer{
    padding: 0.75rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fecharMenuIcon{
    color: #fff;
    transition: 0.2s;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.fecharMenuIcon:hover{
    color: #ff0000;
}

.logoMenuHeader{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    color: #00ffff;
    margin: 0.5rem;
}